.l-section {
    height: 100vh;
    width: 100%;
}

.c-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-box {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    height: 620px;
    max-width: 432px;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p-answersList {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 176px;
}

.p-chat {

  &__bubble {
    background: #41B6E6;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: .5rem;
    margin-right: 1rem;
    max-width: 80%;
    width: auto;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0 !important;
  }

  &__reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-right: 0 !important;
  }
}

.p-question {

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
  }

  &__description {
    font-size: 1rem;
    letter-spacing: .125rem;
    line-height: 1.7;
  }
}
